{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}


	<body>
		<div
			id="page-wraper">
			<!-- Sidebar Menu -->
			<div class="responsive-nav">
				<i class="fa fa-bars" id="menu-toggle"></i>
				<div id="menu" class="menu">
					<i class="fa fa-times" id="menu-close"></i>
					<div class="container">
						<div class="image">
							<a href="#"><img src="/images/gestufinca.jpg" alt="GesTuFinca"/></a>
						</div>
						
						<nav class="main-nav" role="navigation">
							<ul class="main-menu">
								<li>
									<a href="#section1">{{"index"|trans}}</a>
								</li>
								<li>
									<a href="#section2">{{"Services"|trans}}</a>
								</li>
								
                                <li>
									<a href="#section4">{{"News"|trans}}</a>
								</li>
                                <li>
									<a href="#section5">{{"Contact"|trans}}</a>
								</li>
                             
								 

                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('app_news_index') }}">{{ 'Manage News'|trans }}</a>
                                    </li>
                                {% endif %}
               
							</ul>
						</nav>
						<div class="social-network">
							<ul class="soial-icons">
								<li>
									<a href="https://www.facebook.com/people/Gestufinca/61563980921780/" target="_blank" rel="noopener noreferrer">
										<i class="fa fa-facebook"></i>
									</a>

								</li>
							</ul>
						</div>
						<div class="copyright-text">
							<p>&copy; {{ "now"|date("Y") }} 
								<a href="{{ path('app_login') }}">GesTuFinca</a>. 
								Todos los derechos reservados.
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- home section -->
			<section class="section about-me" data-section="section1">
				<div class="container">
					<div class="top-header">
						<img src="/images/edificios nubes2.jpg" alt="edificios nubes"/>
					</div>
					<div class="section-heading">
						<h2 class="overlay-text">{{'Discover the most transparent and closest administration'|trans}}</h2>
					</div>
					<span>
						{{'En GesTuFinca somos especialistas en gestión integral de comunidades de propietarios, ofreciendo un servicio cercano, eficiente y completamente adaptado a las necesidades de cada comunidad.
						Nuestro compromiso es claro: administrar con transparencia, rigor y tecnología. Creemos que cada comunidad merece una gestión moderna, con información accesible en tiempo real y herramientas que faciliten la toma de decisiones.
						Contamos con un equipo multidisciplinar que combina experiencia profesional con servicios digitales avanzados: reuniones virtuales, votación online, panel financiero interactivo, gestor de incidencias desde el móvil y acceso permanente a documentación histórica.
						Más que una gestoría, somos el aliado de tu comunidad para que todo funcione… y tú no tengas que preocuparte por nada.'|trans}}
					</span>
				</div>
			</section>

			<!-- Services section -->
			<section class="section my-services" data-section="section2">
				<div class="container">
					<div class="section-heading">
						<h2>{{'Services'}}</h2>
						
						<span>{{'Smart services for your community.'|trans}}</span>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="service-item">
							<i class="fa fa-folder-open"></i> <!-- Documentación -->
							<h5>Acceso a Documentación Histórica</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also.</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="service-item">
							<i class="fa fa-video-camera"></i> <!-- Reuniones online -->
							<h5>Reuniones Online y Votación Digital</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also.</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="service-item">
							<i class="fa fa-line-chart"></i> <!-- Finanzas en tiempo real -->
							<h5>Panel Financiero en Tiempo Real</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also.</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="service-item">
							<i class="fa fa-cogs"></i> <!-- Mantenimiento inteligente -->
							<h5>Control Inteligente de Mantenimiento</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also.</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="service-item">
							<i class="fa fa-wrench"></i> <!-- Incidencias vecinales -->
							<h5>Gestor de Incidencias Vecinales</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also.</p>
							</div>
						</div>
						</div>

				</div>
			</section>

		
			<!-- Opinions Section
			<section class="section opinions" data-section="section3">
				<div class="container">
					<div class="section-heading">
						<h2>{{'Opinions'|trans}}</h2>
						
						<span>{{'Lo que opinan nuestros clientes'|trans}}</span>
					</div>
					<div class="opinions-grid">
						<div class="opinions-item">
							<h4>Ana Martínez (01-06-25)</h4>
							<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget.”</p>
						</div>
						<div class="opinions-item">
							<h4>José Luis Ortega (28-05-25)</h4>
							<p>“Curabitur nec justo at quam tincidunt ullamcorper. Duis ac nisi vel leo.”</p>
						</div>
						<div class="opinions-item">
							<h4>Lucía Fernández (20-05-25)</h4>
							<p>“Praesent nec nisl at urna facilisis tempus. Vestibulum ante ipsum primis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget. ”</p>
						</div>
						<div class="opinions-item">
							<h4>David Romero (15-05-25)</h4>
							<p>“Sed euismod velit nec sapien malesuada, sit amet vulputate ligula facilisis.”</p>
						</div>
						<div class="opinions-item">
							<h4>David Romero (15-05-25)</h4>
							<p>“Sed euismod velit nec sapien malesuada, sit amet vulputate ligula facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget.”</p>
						</div>
						<div class="opinions-item">
							<h4>David Romero (15-05-25)</h4>
							<p>“Sed euismod velit nec sapien malesuada, sit amet vulputate ligula facilisis.”</p>
						</div>
					</div>

				</div>
			</section>
			 -->
			

			<!-- News section -->
			{% include 'parts/news.html.twig' %}
			
			<!-- Section Contact us -->
			<section class="section news-section" data-section="section5">
				<div class="container">
					<div class="section-heading">
						<h2>Información de contacto</h2>
					
					</div>

					<div class="contact-info">
						<div class="contact-row">
							<div class="contact-item">
								<i class="fa fa-phone"></i>
								<p><a href="tel:+34123456789">+34 699761695</a></p>
							</div>

							<div class="contact-item">
								<i class="fa fa-envelope"></i>
								<p><a href="mailto:info@gestufinca.com">administracion@gestufinca.es</a></p>
							</div>

							<div class="contact-item">
								<i class="fa fa-home"></i>
								<p><a href="mailto:info@gestufinca.com">Cl. Cabrillana 1 1°-4, Lucena, Spain</a></p>
							</div>
						</div>

						<div class="contact-item facebook">
							<i class="fa fa-facebook"></i>
							<p><a href="https://www.facebook.com/people/Gestufinca/61563980921780/" target="_blank">Síguenos en Facebook</a></p>
						</div>
					</div>
				</div>
			</section>


			<!-- Section login 
			<section class="section news-section" data-section="section6">
				<div class="container">
					<div class="section-heading">
						<h2>Login</h2>
					
					</div>
					<div class="login-wrapper">
						<form class="login-form" method="post" action="/login">
							<div class="form-group">
								<label for="username">Nombre de usuario</label>
								<input type="text" id="username" name="_username" required>
							</div>

							<div class="form-group">
								<label for="password">Contraseña</label>
								<input type="password" id="password" name="_password" required>
							</div>

							<button type="submit" class="login-button">Iniciar sesión</button>
						</form>
					</div>

					
					
				</div>
			</section>
			-->








			<!-- Section Galery 
			<section class="section my-work" data-section="section5">
				<div class="container">
					<div class="section-heading">
						<h2>Gallery</h2>
						<div class="line-dec"></div>
						<span>Donec sit amet enim tempor nisl fermentum aliquam. In consectetur sapien eu nisi venenatis lobortis. Sed ullamcorper tristique elit nec facilisis.</span>
					</div>
					<div class="row">
						<div class="isotope-wrapper">
							<form class="isotope-toolbar">
								<label><input type="radio" data-type="*" checked="" name="isotope-filter"/>
									<span>all</span>
								</label>
								<label><input type="radio" data-type="pretty" name="isotope-filter"/>
									<span>pretty</span>
								</label>
								<label><input type="radio" data-type="sexy" name="isotope-filter"/>
									<span>sexy</span>
								</label>
								<label><input type="radio" data-type="beach" name="isotope-filter"/>
									<span>beach</span>
								</label>
							</form>
							<div class="isotope-box">
								<div class="isotope-item" data-type="beach">
									<figure class="snip1321">
										<img src="/images/edificio agua.jpg" alt="woman at the beach"/>
										<figcaption>
											<a href="/images/edificios agua.jpg" data-lightbox="image-1" data-title="Caption">
												<i class="fa fa-search"></i>
											</a>
											<h4>{{'Transparency'|trans}}</h4>
											
										</figcaption>
									</figure>
								</div>

								<div class="isotope-item" data-type="sexy">
									<figure class="snip1321">
										<img src="/images/contact.jpg" alt="sq-sample26"/>
										<figcaption>
											<a href="/images/edificios nubes.jpg" data-lightbox="image-1" data-title="Sunshine Woman">
												<i class="fa fa-search"></i>
											</a>
											<h4>{{'Communication'|trans}}</h4>
											<span>{{'we are always available'|trans}}</span>
										</figcaption>
									</figure>
								</div>

								<div class="isotope-item" data-type="pretty">
									<figure class="snip1321">
										<img src="/images/edificios nubes.jpg" alt="Pretty Girl"/>
										<figcaption>
											<a href="/images/edificios nubes.jpg" data-lightbox="image-1" data-title="Pretty Girl">
												<i class="fa fa-search"></i>
											</a>
											<h4>{{'Communication'|trans}}</h4>
											<span>{{'we are always available'|trans}}</span>
										</figcaption>
									</figure>
								</div>

								<div class="isotope-item" data-type="pretty">
									<figure class="snip1321">
										<img src="/images/escalator-blue.jpg" alt="Escalator Blue"/>
										<figcaption>
											<a href="/images/escalator-blue.jpg" data-lightbox="image-1" data-title="Escalator Blue">
												<i class="fa fa-search"></i>
											</a>
											<h4>Escalator Up</h4>
											<span>Blue architecture building</span>
										</figcaption>
									</figure>
								</div>

								<div class="isotope-item" data-type="beach">
									<figure class="snip1321">
										<img src="/images/edificio agua.jpg" alt="woman feeling"/>
										<figcaption>
											<a href="/images/edificio agua.jpg" data-lightbox="image-1" data-title="Her Feeling">
												<i class="fa fa-search"></i>
											</a>
											<h4>{{'Communication'|trans}}</h4>
											
										</figcaption>
									</figure>
								</div>

								<div class="isotope-item" data-type="sexy">
									<figure class="snip1321">
										<img src="/images/edificio agua.jpg" alt="Bikini Girl"/>
										<figcaption>
											<a href="/images/edificio agua.jpg" data-lightbox="image-1" data-title="Sexy Bikini">
												<i class="fa fa-search"></i>
											</a>
											<h4>{{'Communication'|trans}}</h4>
										</figcaption>
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			-->
			
		</div>
		<!-- Scripts -->
		<!-- Bootstrap core JavaScript -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		<script src="/js/isotope.min.js"></script>
		<script src="/js/owl-carousel.js"></script>
		<script src="/js/lightbox.js"></script>
		<script src="/js/custom.js"></script>
		<script>
			// according to loftblog tut
        $(".main-menu li:first").addClass("active");

        var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
        reqSection = $(".section").filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
        $("body, html").animate({
        scrollTop: reqSectionPos
        }, 800);
        } else {
        $("body, html").scrollTop(reqSectionPos);
        }
        };

        var checkSection = function checkSection() {
        $(".section").each(function () {
        var $this = $(this),
        topEdge = $this.offset().top - 80,
        bottomEdge = topEdge + $this.height(),
        wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
        var currentId = $this.data("section"),
        reqLink = $("a").filter("[href*=\\#" + currentId + "]");
        reqLink.closest("li").addClass("active").siblings().removeClass("active");
        }
        });
        };

        $(".main-menu").on("click", "a", function (e) {
			const href = $(this).attr("href");
			
			if (href.startsWith("#")) {
				e.preventDefault();
				showSection(href, true);
			}
			
		});


        $(window).scroll(function () {
        checkSection();
        });
        </script>
    </body>
{% endblock %}
