{% extends 'base.html.twig' %}

{% block title %}{{'News'|trans}}{% endblock %}

{% block body %}
  <h1>{{'News'|trans}}</h1>

  <div class="news-actions">
    <a href="{{ path('app_news_new') }}" class="table-button" title="{{ 'Add news'|trans }}">
      <i class="fa fa-plus"></i>
    </a>
    <a href="{{ path('app_home') }}" class="table-button" title="{{ 'Home'|trans }}">
      <i class="fa fa-home"></i>
    </a>
  </div>

  <div class="table-wrapper">
    <table class="table styled-table">
      <thead>
        <tr>
          <th>{{ 'Author'|trans }}</th>
          <th>{{ 'Title'|trans }}</th>
          <th>{{ 'Date news'|trans }}</th>
          <th>{{ 'Body'|trans }}</th>
          <th>{{ 'Link'|trans }}</th>
          <th>{{ 'Actions'|trans }}</th>
        </tr>
      </thead>
      <tbody>
        {% for news in news %}
          <tr>
            <td>{{ news.author }}</td>
            <td>{{ news.title }}</td>
            <td>{{ news.dateNews ? news.dateNews|date('d-m-Y') : '' }}</td>
            <td>{{ news.body|slice(0, 100) ~ '...' }}</td>
            <td>{{ news.link|slice(0, 40) ~ '...' }}</td>
            <td>
              <a href="{{ path('app_news_show', {'id': news.id}) }}" class="table-button" title="{{ 'View'|trans }}">
                <i class="fa fa-eye"></i>
              </a>
              <a href="{{ path('app_news_edit', {'id': news.id}) }}" class="table-button" title="{{ 'Edit'|trans }}">
                <i class="fa fa-pencil"></i>
              </a>
                <form method="post" action="{{ path('app_news_delete', {'id': news.id}) }}" onsubmit="return confirm('¿Estás seguro de que quieres eliminar esta noticia?');" style="display:inline;">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ news.id) }}">
                    <button class="table-button delete-button" title="Eliminar">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="6">{{ 'No records found'|trans }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
