{% extends 'base.html.twig' %}

{% block title %}{{ 'News'|trans }}{% endblock %}

{% block body %}
  <h1>{{ 'News'|trans }}</h1>

  <div class="news-actions">
    <button type="button" class="table-button" title="{{ 'Add news'|trans }}" data-bs-toggle="modal" data-bs-target="#addNewsModal">
      <i class="fa fa-plus"></i>
    </button>

    <a href="{{ path('app_home') }}" class="table-button" title="{{ 'Home'|trans }}">
      <i class="fa fa-home"></i>
    </a>
  </div>

  <div class="table-wrapper">
    <table class="table styled-table">
      <thead>
        <tr>
          <th>{{ 'Actions'|trans }}</th>
          <th>{{ 'Author'|trans }}</th>
          <th>{{ 'Title'|trans }}</th>
          <th>{{ 'Date news'|trans }}</th>
          <th>{{ 'Body'|trans }}</th>
          <th>{{ 'Link'|trans }}</th>
          
        </tr>
      </thead>
      <tbody>
        {% for news in news %}
          <tr>
            <td class="actions-cell">
              <div class="action-buttons">
                <a href="{{ path('app_news_edit', {'id': news.id}) }}" class="table-button" title="{{ 'Edit'|trans }}">
                  <i class="fa fa-pencil"></i>
                </a>
                <form method="post" action="{{ path('app_news_delete', {'id': news.id}) }}" onsubmit="return confirm('¿Estás seguro de que quieres eliminar esta noticia?');">
                  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ news.id) }}">
                  <button class="table-button delete-button" title="Delete">
                    <i class="fa fa-trash"></i>
                  </button>
                </form>
              </div>
            </td>
            <td>{{ news.author }}</td>
            <td>{{ news.title }}</td>
            <td>{{ news.dateNews ? news.dateNews|date('d-m-Y') : '' }}</td>
            <td>{{ news.body|slice(0, 100) ~ '...' }}</td>
            <td>
              {% if news.link %}
                <a href="{{ news.link }}" target="_blank" rel="noopener noreferrer">
                  {{ news.link|slice(0, 40) ~ '...' }}
                </a>
              {% else %}
                -
              {% endif %}
            </td>
            
          </tr>
        {% else %}
          <tr>
            <td colspan="6">{{ 'No records found'|trans }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Modal para añadir noticia -->
<div class="modal fade" id="addNewsModal" tabindex="-1" aria-labelledby="addNewsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNewsModalLabel">{{ 'Add News'|trans }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'Close'|trans }}"></button>
      </div>
      <div class="modal-body">
        {{ include('news/_form.html.twig', { form: form }) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}
