{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <h1>News</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news.id }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ news.author }}</td>
            </tr>
            <tr>
                <th>Date_news</th>
                <td>{{ news.dateNews ? news.dateNews|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ news.body }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ news.link }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ news.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_news_index') }}">back to list</a>

    <a href="{{ path('app_news_edit', {'id': news.id}) }}">edit</a>

{% endblock %}
